<!-- Msg sobre o maps -->
<div class="position-absolute w-100 h-100 d-flex justify-content-center px-3 default"
	style="z-index:1;background: rgba(0, 0, 0, 0.4);" *ngIf="!initializedMap" [ngClass]="{ fade: startFade }">
	<div class="align-self-center">
		<h1 id="text-over-map" class="text-center font-weight-bold mb-4" style="text-shadow:2px 2px 10px black;color:white;">Entidades Sociais a sua volta</h1>
		<div class="col-md-12 text-center">
			<button id="btn-over-map" class="btn btn-outline-warning alert-link" (click)="initMap()">CONHEÇA AGORA!</button>
		</div>
	</div>
</div>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [styles]="mapStyles"
  (mapReady)="onMapReady($event)"
  (mapClick)="closeInfoWindow()">

  <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        [iconUrl]="iconUrl">
    </agm-marker>

  </agm-marker-cluster>

        <agm-info-window 
          *ngIf="selectedMarker"
          [latitude]="selectedMarker.lat" 
          [longitude]="selectedMarker.lng"
          [isOpen]="isInfoWindowOpen"
          (infoWindowClose)="closeInfoWindow()">      <div style="padding-right:25px;">
        <h6 style="visibility:hidden;">{{selectedMarker.dados.nomeFantasia}}</h6>
        <h6 style="margin-top:-60px; margin-bottom:4px; position:absolute;"><a href="#" (click)="openModalEntityProfile(selectedIndex)">{{selectedMarker.dados.nomeFantasia}}</a></h6>
        <p style="margin-top:-26px;"><strong>{{selectedMarker.dados.areaAtuacao}}</strong></p>
      </div>
  </agm-info-window>

</agm-map>
