agm-map {
    height: 100vh;
}

@media (min-width: 992px) {
    #text-over-map {
        font-size: 4rem;
    }

    #btn-over-map {
        padding: .5rem 1rem;
        font-size: 1.25rem;
    }
}

.default{
    opacity: 1;
}

.fade{
    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
    opacity: 0;
}