
<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
    <agm-marker 
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        [iconUrl]="iconUrl">

      <agm-info-window>
        <h6 style="max-width:300px;"><a href="#" (click)="openModal(entityProfileDetails)">{{m.dados.fantasia}}</a></h6>
        <p style="max-width:300px;"><strong>{{m.dados.atividade_principal[0].text}}</strong></p>
        <!-- <p><small><a href="#" (click)="openModal(entityProfileDetails)">Saiba mais...</a></small></p> -->
      </agm-info-window>

    </agm-marker>
  
  </agm-marker-cluster>

</agm-map>

<ng-template #entityProfileDetails>
  <h1>Oi Modaal =)</h1>
</ng-template>