<div class="modal-header">
  <h5 class="modal-title pull-left">{{fantasia}}</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <p class="text-center alert alert-warning">{{areaAtuacao}}</p>
  <p><strong>CNPJ:</strong> {{cnpj}}</p>
  <p><strong>Razão Social:</strong> {{razaoSocial}}</p>
  <p><strong>Endereço:</strong> {{endereco}}</p>
  <p><strong>Telefone:</strong> {{telefone}}</p>
  <p><strong>E-mail:</strong><a href="mailto:{{email}}"> {{email}}</a></p>
  <p><strong>Presidente: </strong>{{presidente}}</p>
  <p><strong>Fundada em: </strong>{{anoFundacao}}</p>


</div> <!-- end Modal body -->